@keyframes blink {
    0% {
      border-color: #b4b4b4c4;
    }
    50% {
      border-color: #e400003e;
      background-color: #c2010126;
    }
    100% {
      border-color: #b4b4b4c4;
    }
  }
  .price_blink {
    animation: blink 2s infinite;
  }
  .modal_rub {
    position: absolute;
    right: 10%;
    top: 45%;
    font-size: 24px;
    color: #009ee4;
  }
.conteiners{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px; 
}
.main__container {
    text-align: start;
}
.main__h3 {
    text-align: start;
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 10px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.main__info {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
}
.main__info_text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main__info_picture_general {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main__detailed {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    color: #5F5F5F;
    font-size: 16px;
}
.main__reviews {
    cursor: pointer;
    color: #009EE4;
    transition: all .3s;
}
.main__info_addition {
    display: flex;
    gap: 10px;
}
.main__info_bas {
    -o-object-fit: cover;
    object-fit: cover;
    width: 480px;
    height: 480px;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.addition {
    width: 88px;
    height: 88px;
    box-sizing: border-box;
    object-fit: cover;
    border: 1px solid transparent;
}
.main__info_text_buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main__product_buttons {
    display: flex;
    align-items: start;
    gap: 10px;
}
.main_button {
    cursor: pointer;
    box-sizing: border-box;
    background-color: #009EE4;
    border: 1px solid #009EE4;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    transition: all .3s;
}
.update {
    width: 190px;
    height: 50px;
}
.delete {
    width: 225px;
    height: 50px;
}
.main__info_text_seller {
    display: flex;
    gap: 10px;
    color: #5F5F5F;
    font-size: 16px;
}
.main__container_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* МОДАЛЬНОЕ ОКНО */
.modal {
    position: fixed; /* изменено с position: absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(4, 108, 206, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modalContent {
    width: 600px;
    height: 800px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    gap: 25px;
}
.modal_form {
    padding: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}
.modal_form_title {
    font-size: 32px;
    font-weight: 500;
}
.modal_form_block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.modal_form_img {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.modal_form_price {
    outline: none;
    width: 164px;
    height: 50px;
    color: #000000;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 10px;
    font-size: 16px;
    border: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}
/* Стилизация элемента списка */
.closeButton {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 9999;
}
.save {
    width: 154px;
    height: 50px;
}
.modal_form_input {
    outline: none;
    width: 480px;
    height: 50px;
    color: #000000;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 16px;
    border: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}
.modal_form_textarea {
    outline: none;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 18px;
    width: 480px;
    height: 200px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}
.modal_form_input::placeholder {
    color: #D9D9D9;
}
/* Стилизация бегунка прокрутки в Chrome */
.modal_form_textarea::-webkit-scrollbar {
    margin: 2px;
    width: 8px; /* Ширина бегунка */
}

.modal_form_textarea::-webkit-scrollbar-thumb {
    background-color: #009EE4;
    border-radius: 10px;
}

/* НАВЕДЕНИЕ */
.main_button:hover {
    background-color:#0080C1;
    border:#0080C1;
}
/* Модальное окно отзывов */
.modalTwo {
    position: fixed; /* изменено с position: absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(4, 108, 206, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .modalContentTwo {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 650px;
    height: 820px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    gap: 25px;
  }
  .modal_formTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
  }
  .modal_form_titleTwo {
    font-size: 32px;
    font-weight: 500;
  }
  .modal_form_blockTwo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .modal_block {
    height: 124px;
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
  }
  .modal_block_infoTwo {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .modal_block_authorTwo {
      display: flex;
      gap: 10px;
  }
  .modal_block_comentTwo {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      gap: 10px;
  }
  .modal_form_textareaTwo {
    border: none;
    resize: none;
    overflow-y: auto;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .save {
    width: 154px;
    height: 50px;
  }
  .modal_form_inputTwo {
    resize: none;
    outline: none;
    width: 642px;
    height: 90px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    border: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  /* Окно предупреждения */
  .modal__warning {
    position: fixed; /* изменено с position: absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(206, 4, 4, 0.075);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  .modalContent__warning {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    color: #aaaaaa;
  }
  .warning__button {
    display: flex;
    gap: 35px;
  }
  .del {
    cursor: pointer;
    background-color: transparent;
    border: 1px dashed #fb9696;
    border-radius: 10px;
    color: #fb9696;
    width: 145px;
    height: 50px;
    font-size: 20px;
    transition: all .3s;
  }
  .del:hover {
    background-color: #fb969629;
    border: 1px dashed transparent;
  }
  .return {
    cursor: pointer;
    background-color: transparent;
    border: 1px dashed #5a9fe0;
    border-radius: 10px;
    color: #5a9fe0;
    width: 145px;
    height: 50px;
    font-size: 20px;
    transition: all .3s;
  }
  .return:hover {
    background-color: #5a9fe029;
    border: 1px dashed transparent;
  }
